/**
 * Reset some basic elements
 */

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}
/**
 * Colours
 */
$white: #ffffff;
$green: #a8c924;
$cyan: #a4cdc6;
$orange: #efa835;
$magenta: #cc138a;
$lighter: 40%;
$black: rgba(0,0,0,0.95);
/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

section {
  border: 1px solid $text-color;
  margin-bottom: 2em;
  padding: 2em;
}
/**
 * Utilities
 */
.text-center {
  text-align: center;
}

.shallow-list li ul li ul li {
  display: none;
}

.shallow-list li {
  width: 50%;
}

.tags span {
  font-weight: bold;
  background: $green;
  padding: .25em .5em;
}
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */

%vertical-rhythm,
blockquote,
dl,
figure,
h1,
h2,
h3,
h4,
hr,
ol,
p,
pre,
ul {
  margin-bottom: 1em;
}
/**
 * Heading style
 */

.contents-title,
.site-title,
h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font-family;
  font-weight: $base-font-weight;
  line-height: $heading-line-height;
  text-transform: uppercase;
  text-align: left;
}

p,
ul {
  font-size: $base-font-size;

  li {
    margin-bottom: .5em;
  }

  &.big {
    font-size: calc(#{$base-font-size} * 1.5);
    margin-bottom: .5em;
    line-height: 1.25;
  }
}

h5 {
  font-family: $base-font-family;
  text-transform: none;
  font-size: $base-font-size;
  line-height: $heading-line-height * 1.5;
  margin-bottom: 0;
  font-weight: 700;
}

.contents-title,
h4,
p.intro {
  font-size: $base-font-size * 1;
  font-weight: 700;
  margin-top: 1.5em;
  margin-bottom: .5em;
}

h3,
ul.h3 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  text-transform: uppercase;
  margin-bottom: .5rem;
  padding: 0;
  font-size: $base-font-size * 1.25;
  font-weight: 700;
  line-height: 1.5;
}

h1.post-title,
h2 {
  font-size: $base-font-size * 2.25;
}

h2 {
  border-bottom: .125em solid $green;
  padding: 0 1rem 1rem;
  margin-bottom: 2rem;
  text-align: center;

  &.main {
    margin-top: 0;
  }
}

h1 {
  margin-top: 0;
  font-size: $base-font-size * 1.5;
  text-align: center;
}

.page-title,
time {
  display: block;
  font-size: $base-font-size;
  font-weight: 300;
  margin-bottom: 3em;
  text-align: center;
}
/**
 * Images
 */

img {
  max-width: 100%;
  vertical-align: middle;
  margin-bottom: 1em;
}
/**
 * Tables
 */
table {
  border-collapse: collapse;
  margin: 0 auto 2em;
  font-size: .9em;
  width: 100%;
  text-align: left;
  position: relative;
}

table td,
table th {
  padding: .25em .5em;
  min-width: 10em;
}

table th {
  background-color: white;
  border-bottom: .25em solid $green;
}

tbody tr:nth-child(odd) {
  background-color: lighten($green, $lighter);
}

.channels {
  td.selected {
    background: $green;
    color: $white;
  }
}

.channels tbody tr:nth-child(1) {
  border-bottom: none;
}

.channels tbody tr td:nth-child(1) {
  border-right: .25em solid $green;
  font-weight: 700;
}
/**
 * Figures
 */
figure {
  display: inline-block;
}

figure > img {
  display: block;
  outline: 1px solid $text-color;
}

figcaption {
  font-size: $small-font-size;
}

figure.half {
  width: calc(50% - 1rem);
  margin-right: 1rem;
  margin-bottom: 1rem;
}

figure.halflast {
  width: calc(50% - 1rem);
  margin-bottom: 1rem;
}
/**
 * Lists
 */

ol,
ul {
  margin-left: calc(#{$spacing-unit} / 2);
  @include media-query($desktop) {
    margin-left: 1em;
  }
}

li {
  > ol,
  > ul {
    margin-top: calc(#{$spacing-unit} / 4);
  }
}
/**
 * Links
 */

a {
  color: $brand-color;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.button {
  display: inline-block;
  border: 0;
  background: $brand-color;
  color: $background-color;
  text-decoration: none;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  text-transform: uppercase;
  padding: $spacing-unit;
  margin: 0 0 $spacing-unit;
  transition: background .2s ease-in-out;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  min-width: 15em;
  text-align: center;

  &.disabled,
  &:disabled,
  &[disabled] {
    opacity: .25;
    cursor: not-allowed;

    &:hover {
      background: $brand-color;
    }
  }

  &:hover {
    border: 0;
    background: darken($brand-color, 20%);
    text-decoration: none;
  }
}

.active {
  background: $brand-color;
  border: 1px solid $brand-color;

  a {
    color: $background-color;
  }
}

.box {
  padding: 1rem;
  box-sizing: border-box;
}

#categories {
  margin-bottom: $spacing-unit;
  text-align: center;
}

.hidden {
  display: none!important;
  visibility: hidden!important;
}
/**
 * Blockquotes
 */
blockquote {
  margin-bottom: 0;

  p {
    color: $grey-color;
    padding: $spacing-unit / 2;
    font-size: $base-font-size * 1.25;
    margin-bottom: 0;
    text-align: center;

    > :last-child {
      margin-bottom: 0;
    }
  }
}
/**
 * Code formatting
 */

code,
pre {
  font-size: $base-font-size * .75;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
/**
 * Wrapper
 */

.wrapper {
  margin-right: auto;
  margin-left: auto;
  @extend %clearfix;
  overflow: hidden;
  @include media-query($desktop) {}
}
@media screen {
  //.wrapper { max-width: 60em;}
}
/**
 * Clearfix
 */

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
/**
 * Icons
 */

.icon {
  > svg {
    display: inline-block;
    width: $base-font-size * 2;
    height: $base-font-size * 2;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}

.fas {
  font-size: 4em;
  margin: 1rem 0;
}
/**
 * Flexbox utility classes
 */
.d--f {
  display: flex;
}

.d--if {
  display: inline-flex;
}
/* Flex direction */

.fd--r {
  flex-direction: row;
}
/* Default */

.fd--rr {
  flex-direction: row-reverse;
}

.fd--c {
  flex-direction: column;
}

.fd--cr {
  flex-direction: column-reverse;
}
/* Flex wrap */

.fw--n {
  flex-wrap: nowrap;
}
/* Default */

.fw--w {
  flex-wrap: wrap;
}

.fw--wr {
  flex-wrap: wrap-reverse;
}
/* Justify content */

.jc--fe {
  justify-content: flex-end;
}

.jc--fs {
  justify-content: flex-start;
}
/* Default */

.jc--c {
  justify-content: center;
}

.jc--sa {
  justify-content: space-around;
}

.jc--sb {
  justify-content: space-between;
}
/* Align items */

.ai--fs {
  align-items: flex-start;
}

.ai--c {
  align-items: center;
}

.ai--fe {
  align-items: flex-end;
}

.ai--s {
  align-items: stretch;
}
/* Default */

.ai--b {
  align-items: baseline;
}
/* Flex grow */

.fg--0 {
  flex-grow: 0;
}
/* Default */

.fg--1 {
  flex-grow: 1;
}
/* Flex shrink */

.fs--0 {
  flex-shrink: 0;
}

.fs--1 {
  flex-shrink: 1;
}
/* Default */
/* Flex basis */
.fb--a {
  flex-basis: auto;
}
/* Default */

.fb--0 {
  flex-basis: 0;
}
/* Align self */

.as--a {
  align-self: auto;
}
/* Default */

.as--fs {
  align-self: flex-start;
}

.as--c {
  align-self: center;
}

.as--fe {
  align-self: flex-end;
}

.as--s {
  align-self: stretch;
}

.as--b {
  align-self: baseline;
}

.flex img {
  align-self: center;
}
/* Text align */

.ta--l {
  text-align: left;
}

.ta--c {
  text-align: center;
}

.ta--r {
  text-align: right;
}
/* Margin */

.p--1 {
  padding: 1em;
}

.p--2 {
  padding: 2em;
}

.m--1 {
  margin: 1em;
}

.m---1 {
  margin: -1em -1em 1em;
}
/**
 * Storyboard layout
 */
#storyboard img,
#storyboard p {
  padding: 1em;
}

.quarter {
  width: 25%;
}
/**
 * Printing and PDF generation
 **/
@media print {
  //a[href^="http"]:not([href*="example.com"]):after {
  //  content: " (" attr(href) ")";
  //}
  @page {
    margin: 10mm;
  }

  .page-break {
    page-break-before: always;
    break-before: page;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    orphans: 2;
    widows: 2;
  }

  h2 {
    //page-break-before: always;
    //break-before: page;
    &.main {
      page-break-before: avoid;
      break-before: avoid-page;
    }
  }

  h2,
  h3,
  h3,
  h4,
  h5 {
    page-break-after: avoid;
    break-after: avoid-page;
  }

  img,
  table {
    page-break-inside: avoid;
    break-inside: avoid;
  }
}
/**
 * Persona
 **/
.persona {
  text-align: left;
  font-size: .75em;
}

.persona ul {
  margin-bottom: 1rem;
}

.persona img {
  background: #ffffff;
  width: 100%;
  height: auto;
  align-self: center;
}

.persona blockquote,
.persona h1 {
  display: block;
  background: #a4cdc6;
  color: #ffffff;
  padding: 1rem;
  margin-bottom: 1rem;
}

.persona blockquote {
  padding: 1em;
}

.persona .content {
  display: flex;
  border: 1px solid #a4cdc6;
}

.persona .content .sidebar {
  padding: 1em;
}

.persona .content .sidebar img {
  align-self: center;
}

.persona .content .end {
  padding: 1em;
}

.persona .content .end .logo-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.persona .content .end .logo-list img {
  width: calc(25% - (3em / 4));
  height: auto;
}

.persona .content .main {
  border-left: 1px solid #a4cdc6;
  border-right: 1px solid #a4cdc6;
  padding: 1em;
  width: 50%;
}

.persona .content .main .traits {
  display: flex;
  justify-content: space-between;
}

.persona .content .main .traits .trait {
  display: block;
  width: calc(20% - (3em / 4));
  text-align: center;
}

.persona .content .main .traits .trait p {
  background: #a4cdc6;
  color: #ffffff;
  padding: .5em;
}

.persona .content .bar {
  display: block;
  width: 100%;
  background: #f6fafa;
  height: .5em;
  margin-bottom: .5rem;
}

.persona .content .bar .bar-fill {
  display: block;
  background: #a4cdc6;
  height: .5em;
}

.persona .content .bar .five {
  width: 5%;
}

.persona .content .bar .ten {
  width: 10%;
}

.persona .content .bar .fifteen {
  width: 15%;
}

.persona .content .bar .twenty {
  width: 20%;
}

.persona .content .bar .twenty-five {
  width: 25%;
}

.persona .content .bar .thirty {
  width: 30%;
}

.persona .content .bar .thirty-five {
  width: 35%;
}

.persona .content .bar .forty {
  width: 40%;
}

.persona .content .bar .forty-five {
  width: 45%;
}

.persona .content .bar .fifty {
  width: 50%;
}

.persona .content .bar .fifty-five {
  width: 55%;
}

.persona .content .bar .sixty {
  width: 60%;
}

.persona .content .bar .sixty-five {
  width: 65%;
}

.persona .content .bar .seventy {
  width: 70%;
}

.persona .content .bar .seventy-five {
  width: 75%;
}

.persona .content .bar .eighty {
  width: 80%;
}

.persona .content .bar .eighty-five {
  width: 85%;
}

.persona .content .bar .ninety {
  width: 90%;
}

.persona .content .bar .ninety-five {
  width: 95%;
}

.persona .content label {
  font-size: .8em;
  display: inline-block;
  text-align: left;
  margin-bottom: 0;
}

.persona .content label+label {
  float: right;
}

img {
  align-self: center !important;
}

#overview img {
  width: calc(50% - 6em);
  margin-left: 2em;
  height: auto;
}

.half {
  width: 50%;
}

#prototype iframe {
  margin-bottom: 1em;
}

.prototype-img {
  width: calc(100% - 2em);
  margin: 0 2em 0 1em;
}

span.mobile-only {
  display: none;
}

span.desktop-only {
  display: inline;
}
/* --- MOBILE --- */
@media screen and (max-width: 798px) {
  span.mobile-only {
    display: inline;
  }

  span.desktop-only {
    display: none;
  }

  .fd--r {
    flex-direction: column;
  }

  .half {
    width: 100%;
  }

  section {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0 0 2em;
    margin: 0 0 2em;
  }

  img {
    width: 100%;
    height: auto;
  }

  #overview img {
    width: 100%;
    margin-left: auto;
  }

  #storyboard img,
  #storyboard p {
    padding: 0;
  }

  .prototype-img {
    width: 100%;
    margin: auto;
  }

  .quarter {
    width: auto;
  }

  #prototype iframe {
    height: 90vh;
    margin-bottom: 1em;
  }
}
/* --- Site Header --- */

.site-header {
  display: flex;
  justify-content: flex-start;
  background: rgba(0,0,0,0.95);
  padding: .5em;

  a {
    margin-right: 1em;
    line-height: 1;
    height: 1em;

    img {
      height: 1em;
      width: auto;
      line-height: 1;
      margin: 0;
    }
  }

  .site-title {
    line-height: 1em;
    height: 1em;
    font-size: 1em;
    color: rgba(255,255,255,0.75);
    padding-top: 2px;
  }
}
/* --- Blog page --- */
#post-list {
  max-width: 40em;
  margin: 0 auto;

  h2 {
    border-bottom: none;
  }

  li {
    margin-bottom: 2em;
    padding-bottom: 2em;
  }
}
/* --- Thoughts list --- */

#thought-list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  article {
    box-sizing: border-box;
    padding: 1em;
    width: calc(50% - 5em);
    margin: 1em;
    color: #181818;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    @media only screen and (max-width: 798px) {
      width: calc(100% - 2em);
      min-width: calc(100% - 2em);
    }

    p a {
      color: #7cafc2;
    }
  }

  header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    h3 {
      line-height: 1;
      margin-bottom: 0;
    }

    time {
      font-family: monospace;
      font-size: .75em;
      margin-bottom: 0;
      background: #a8c924;
      color: #282828;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 3rem;
      width: 6rem;
      margin-right: 1rem;
      @media only screen and (max-width: 798px) {
        min-width: 5rem;
      }

      .time {
        font-size: 1.5em;
      }
    }
  }

  blockquote p {
    font-family: monospace;
    font-size: .75rem;
    margin: 1rem 0;
    padding: .5em;
    color: #d8d8d8;
    border: 1px solid #d8d8d8;
    text-align: left;
  }
}