/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;
  padding: $base-font-size;
  // Positioning context for the mobile navigation icon
  position: relative;
  //background: rgba(0, 54, 153, .75) url(../media/woolacombe.jpg) no-repeat left bottom;
  //background: url(../media/woolacombe.jpg) no-repeat left bottom, -webkit-linear-gradient(left top, rgba(34, 159, 236, .75), rgba(0, 54, 153, .75));
  //background: url(../media/woolacombe.jpg) no-repeat left bottom, linear-gradient(to right bottom, rgba(34, 159, 236, .75), rgba(0, 54, 153, .75));
  background-size: cover;
  background-blend-mode: soft-light;
}
/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}
@include media-query($desktop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

.footer-col {
  float: none;
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width: calc(100% - (#{$spacing-unit} / 2));
}
/**
 * Page content
 */
.page-content {
  padding: $spacing-unit * 4 0 $spacing-unit;
}

.page-heading {
  font-size: $base-font-size;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    display: block;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: $base-font-size * 1.5;
  margin-bottom: -$spacing-unit;
}
/**
 * Posts
 */
.post-header {
  padding: 1em;
}

.post-title {
  @include media-query($desktop) {}
}

.post-content {
  padding: 5vw;
  margin-bottom: $spacing-unit;
}

.comments {
  padding-top: $spacing-unit;
  margin-top: $spacing-unit;
}

.PageNavigation {
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
}

.PageNavigation .next {
  text-align: right;
}
/**
         * Page content
         */

.page-content {
  padding: 2em 0 1em;
  background: rgba(0,0,0,0.9);
}

.page-heading {
  font-size: $base-font-size;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    text-align: center;
    margin: $spacing-unit;
    padding: $spacing-unit;
    border-bottom: 1px solid $grey-color;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  margin-bottom: $spacing-unit;
  display: block;
}

.post-link {
  display: block;
  margin-bottom: -$spacing-unit;
}