<header class="site-header">
  <span class="logo"><a href="/"><img src="../images/plantio__logo--colour.svg" /></a> Journal</span>

  <nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" aria-label="Open main menu" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <li><a href="https://plantio.co.uk">Meet PlantIO</a></li>
        <li><a href="https://plantio.co.uk/plant.html">Using PlantIO</a></li>
        <li><a href="#"><strong>Development Journal</strong></a></li>
        <li><a href="https://github.com/phlillip/plantio-pwa">Github Repository</a></li>
        <li><a href="#">PlantIO for business</a></li>
        <li><a href="mailto:phillippenny@gmail.com">PlantIO Help</a></li>
      </ul>
    </div>
  </nav>
</header>