<header class="site-header">
  <span class="logo"><a href="/"><img src="../images/plantio__logo--colour.svg" /></a></span>

  <nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" aria-label="Open main menu" />
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <li><a href="https://plantio.co.uk">Meet PlantIO</a></li>
        <li><a href="https://plantio.co.uk/plant.html">Using PlantIO</a></li>
        <li><a href="#"><strong>Development Journal</strong></a></li>
        <li><a href="https://github.com/phlillip/plantio-pwa" target="_blank">Github Repository</a></li>
        <li><a href="https://photos.app.goo.gl/nfrtLTYR4MGUjdPw8">Photo album</a></li>
        <li><a href="/journal/media/PhillipDavidPenny__FMP-PlantIO--Marketing-and-dissemination-plan_2018-10-30.pdf" download>Dissemination plan (5mb pdf)</a></li>
        <li><a href="mailto:phillippenny@gmail.com">PlantIO Help</a></li>
      </ul>
    </div>
  </nav>
</header>