doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      block navBar
        header
            span.title= title
            a(href="#") Menu
    block content
