<html>
<head>
  <title>PlantNation</title>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
  <div class="page status">
  <header>
    <span><img src="/images/ruuts.svg" /> | Recipes</span>
  <a href="menu"><span class="fas fa-bars"></span></a>
</header>
  <div class="content">
<div class="content-content">
  <div id="lightfade" class=""></div>
  <div class="bars bar1 hidden"></div>
    <div class="bars bar2 hidden"></div>
    <div class="bars bar3 hidden"></div>
    <div class="bars bar4 hidden"></div>
  <div class="plant">
    <svg id="plant" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
   viewBox="0 0 1024 1024">
<rect id="trunk" x="496" y="423.7" class="st0" width="32" height="280"/>
<path id="head" class="st0" d="M512,88.2c-110.5,0-200,89.5-200,200s89.5,200,200,200c110.5,0,200-89.5,200-200S622.5,88.2,512,88.2
  z M512,352.2c-35.3,0-64-28.7-64-64s28.7-64,64-64c35.3,0,64,28.7,64,64S547.3,352.2,512,352.2z"/>
<polygon id="roots" class="st0" points="649,699.8 512,935.8 375,699.8 "/>
</svg>

  </div>
  </div>
  <div class="content-footer">
  <a class="btn" href="./tomato/size"><span class="fas fa-tint"></span></a>
  <a id="light" class="btn" href="./tomato/flavour"><span class="fas fa-sun"></span></a>
  <a class="btn" href="./tomato/yield"><span class="fas fa-thermometer-empty"></span></a>
  </div>
  </div>
  <footer>
      <a href="/views/recipes.html">Recipes</a>
      <a href="/index" class="active">Garden</a>
      <a href="info.html">Info</a>
  </footer>
  </div>
  <script>
    document.getElementById('light').onclick = function() {
    this.classList.toggle('active');
    document.getElementById('lightfade').classList.toggle('power');
    barlist = document.getElementsByClassName('bars');
    for (var i = 0; i < barlist.length; i++) {
      barlist[i].classList.toggle('hidden')
    }
}
  </script>
</body>
</html>