extends layout

block content
  h1 Choose your recipe
  h2 Automatic recipes
  p.small (your plant will be fully cared for by the app)
  p What is most important to you?
  a.btn(href="./tomato/size") Size
  a.btn(href="./tomato/sweetness") Sweetness
  a.btn(href="./tomato/yield") Quantity
  a.btn(href="./tomato/aesthetic") Colour
  h3 Semi-automatic recipes
  p.small (your will be notified through the app when your plant needs attention)
  h2 Manual recipes
  p.small (your must monitor your plant through the app)
  a.btn(href="connection") CONTINUE

  // p Set the plant colour
  // div
  //   label RED
  //   input(type='range', value='255', id='red', min='0', max='255', step='1')
  // div
  //   label GREEN
  //   input(type='range', value='255', id='green', min='0', max='255', step='1')
  // div
  //   label BLUE
  //   input(type='range', value='255', id='blue', min='0', max='255', step='1')

  // script(src='/javascripts/pubnub-send.js')