a,
a:active,
a:focus,
a:hover {
  text-decoration: none;
}

a,
input[type=button] {
  color: $green;
}

a.btn,
input[type=button].btn {
  display: inline-block;
  margin: 0 .25em;
  padding: .5em;
}

a.active {
  color: white;
  background: $green;
}