.page,
body,
html {
  height: 100%;
  overflow-x: hidden;
  /* needed for proper layout */
}

.simulator-wrapper {
  display: none;
}
@media only screen and (min-width: 1100px) {
  body#plant {
    background: rgba(0,0,0,0.9);
  }

  .desktop.page.status {
    display: none;
  }

  .simulator-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0 4rem;
    align-items: center;
    justify-content: flex-start;
  }

  .simulator-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 4rem;

    img {
      align-self: flex-start;
      margin-bottom: 2rem;
    }

    * {
      color: white;
      margin-bottom: 1rem;
      text-align: left;
    }
  }

  .simulator {
    position: relative;
    width: calc(862px / 2);
    height: calc(1754px / 2);
    background-image: url("/images/iphone.png");
    background-size: 100%;
    background-repeat: no-repeat;

    .screen {
      position: absolute;
      width: calc(750px / 2);
      height: calc(1334px / 2);
      left: calc(56px / 2);
      top: calc(210px / 2);
    }
  }
}

.status {
  overflow: hidden;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  min-height: 150vw;
  height: auto;
  @include respond-to('tablet') {
    min-height: 42.55vw;

    .narrow {
      max-width: 80em;
      margin: 0 auto;
    }
  }
}

.page {
  display: flex;
  flex-direction: column;
}

.status {
  background: white;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  /* need this to position inner content */
  overflow-y: hidden;
  background: black;
  margin: 1em;
  border-radius: .25em;
}

#shield {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.9);
  z-index: 5;
}

#modal {
  z-index: 1002;
  text-align: center;
  background: white;
  border-radius: .25em;
  position: relative;
}

#modal .message {
  padding: 2em;
}

#modal .close {
  position: absolute;
  text-align: center;
  top: -.5em;
  right: -.5em;
  z-index: 1003;
  color: rgba(255,0,0,1);
  background: rgba(0,0,0,0.9);
  border-radius: .5em;
  width: calc(1em + 2px);
  height: calc(1em + 2px);
  line-height: 1em;
  font-size: 3em;
}

.content-footer,
.content-header {
  flex: 0 0 4em;
  z-index: 1002;
  background: black;
}

.content-content {
  position: relative;
  flex: 1 1 auto;
  height: calc(100vh - 15em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: black;
  background: rgba(255,255,255,.1);
}

.content-footer.manual,
.content-header {
  display: flex;
  justify-content: center;
  line-height: 1em;
  padding: 1em;
  background: rgba(255,255,255,.1);
}

.content-footer.auto {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1002;
  line-height: 1em;
  padding: .5em;
  background: rgba(0,0,0,.75);
  transition: all .5s ease-in-out;
  border-top: 1px solid rgba(255,255,255,0.1);
  overflow: hidden;
  height: 3em;
  text-align: left;
}

.content-footer.auto.menu-open {
  line-height: 1em;
  background: rgba(0,0,0,.95);
  height: calc(100% - 4em);

  dl {
    height: 100%;
    overflow-y: scroll;
  }
}

.content-footer .footer-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 2em;
}

.content-footer .chosenRecipe {
  display: inline-block;
  line-height: 1;
  color: rgba(255,255,255,1);
}

.content-footer .fas {
  font-size: 2em;
  display: block;
}

.content-footer dl {
  padding: 1em;
}

.content-footer dl dt {
  margin: 1rem 0;
  font-size: 2em;
  font-weight: 100;
}

.content-footer dl dd {
  padding-bottom: 1em;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(255,255,255,0.25);
}

.content-header {
  flex-direction: column;
  justify-content: space-around;
  letter-spacing: 1ch;
  color: rgba(255,255,255,1);
}

.content-header div {
  display: flex;
  justify-content: center;
}

.content-header div:first-child {
  margin-bottom: 1em;
}

.content-footer.manual a,
.content-header a,
.content-header input[type=button] {
  width: 33.333%;
  color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  background: transparent;
  padding: .25em;
}

.content-footer.auto a {
  width: 2rem;
  height: 2rem;
  padding: 0;
  color: rgba(255,255,255,1);
  border: none;
  background: transparent;
}

.content-footer .btn + span {
  margin-left: .5em;
}

.content-footer a {
  border: none;
}

.content-header a {
  width: auto;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.1);
  color: rgba(255,255,255,0.75);
}

.content-footer.auto.active {
  color: rgba(255,255,255,1);
}

.content-footer.manual a.active {
  width: 33.333%;
  color: rgba(255,255,255,1);
  background: transparent;
}

.content-footer.auto a.active {
  width: 33.333%;
  color: rgba(255,255,255,1);
  background: transparent;
}

label {
  display: block;
}

.plant {
  mix-blend-mode: screen;
  z-index: 1000;
}

.recipe-list {
  color: rgba(255,255,255,1);
  padding: 1em;
  overflow-y: scroll;
}

.breadcrumbs {
  display: block;
  width: 100%;
  text-align: left;
  font-size: .75em;
  margin-bottom: 1em;
  color: $ruutsBlack;
}

.recipe {
  text-align: left;
  background: white;
  color: rgba(0,0,0,0.9);
  border-radius: .25em;
  position: relative;
  margin-bottom: 1em;
  padding: 1em;
}

.recipe-info {
  display: inline-block;
}

.recipe-name,
.recipe-tags {
  display: block;
}

.recipe-tags {
  font-size: .75em;
}

.recipe-switch {
  font-size: 2em;
  float: right;
}

.recipe-switch.active {
  color: $ruutsGreen;
}