.fix {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.75)), url("/images/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

section.dream {
  padding-bottom: 0;

  img {
    margin-bottom: -1rem;
  }
}

img {
  align-self: center;
  max-width: 100%;
  @include respond-to('tablet') {
    max-height: 42.55vw;

    &.padded-img {
      max-height: calc(42.55vw - 2em);
    }
  }
}