footer,
header {
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  background: white;
  height: 2.5em;
}

header {
  justify-content: space-between;
  padding: .75em;
  line-height: 1;
  border-bottom: 1px solid #3dc895;

  img {
    height: 1em;
  }
}

footer {
  justify-content: center;
  border-top: 1px solid #3dc895;

  a {
    padding: .5em;
    width: 33.333%;
    color: #3dc895;
  }
}

.hamburger svg {
  width: 1em;
  height: 1em;
}

#menuIcon svg {
  width: 2em;
  height: 2em;
}