/* Onboarding */

.onboarding-wrapper {
  div#skip {
    position: absolute;
    top: 1.5vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1003;
    color: white;
    text-decoration: underline;
  }
}

.onboarding .slick-next,
.onboarding .slick-prev {
  position: fixed;
  bottom: 4em;
  z-index: 1005;
  width: calc(50% - 2em);
  margin: 0;
}

.onboarding .slick-prev {
  left: 1em;
}

.onboarding .slick-next {
  right: 1em;
}

.onboarding.slick-slider {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.9);
  z-index: 1002;
}

.onboarding.slick-initialized .slick-slide {
  background: white;
  border-radius: .25em;
  margin: calc(20vh - 5em) 1em;
  padding: 1rem;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @include respond-to('tablet') {
    margin-left: calc((100vh - 20em) / 2);
    margin-right: calc((100vh - 20em) / 2);
  }
}

.slick-list,
.slick-track {
  height: 100%;
}

.onboarding .slick-dots {
  position: absolute;
  bottom: calc(25vh - 5em);
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2em);
  list-style: none;
}

.onboarding .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
  position: relative;
}

.onboarding .slick-dots li button:before {
  font-size: 30px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.onboarding .slick-dots li.slick-active button:before {
  opacity: .75;
  color: white;
}

.mysterious {
  /*color: rgba(0,0,0,0.5);*/
  font-style: italic;
}

.onboarding svg {
  width: 15vw;
  display: block;
  margin: 0 auto;
  height: auto;
  fill: none;
  stroke-width: 10;
  stroke: #000;
}

.onboarding {
  #watch {
    font-size: 1em;
    position: relative;
  }

  #watch .frame-face {
    position: relative;
    width: 3em;
    height: 3em;
    margin: .2em auto;
    border-radius: 1.5em;
    border: 1px solid black;
    background: white;
  }
  @keyframes hours {
    to {
      transform: rotate(335deg);
    }
  }

  #watch .hours-hand {
    width: .12em;
    height: .7em;
    border-radius: .05em;
    background: black;
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin: 0 0 -.08em -.06em;
    transform-origin: .06em .62em;
    transform: rotate(-25deg);
    animation: hours 43.2s linear 0s infinite;
  }
  @keyframes minutes {
    to {
      transform: rotate(422deg);
    }
  }

  #watch .minutes-hand {
    width: .1em;
    height: 1.25em;
    border-radius: .05em;
    background: black;
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin: 0 0 -.15em -.05em;
    transform-origin: .05em 1.1em;
    transform: rotate(62deg);
    animation: minutes 3.6s linear 0s infinite;
  }
  @keyframes seconds {
    to {
      transform: rotate(480deg);
    }
  }

  #watch .seconds-hand {
    width: .05em;
    height: 1.4em;
    border-radius: .01em .1em 0 0/1.0em 1.0em 0 0;
    background: black;
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin: 0 0 -.2em -.01em;
    transform-origin: .01em 1.2em;
    transform: rotate(120deg);
    animation: seconds .6s steps(60, end) 0s infinite;
  }
}