#plant-visual #head,
#plant-visual #roots,
#plant-visual #trunk,
#plant-visual #weight {
	fill: #d2f191;
}

#plant-visual {
	opacity: 0;
}

#plant-visual.growing {
	opacity: 1;
	transform: scale(1.25);
	animation: grow 180s 1;
}
@keyframes grow {
	0% {
		transform: scale(0.1);
	}

	9.7% {
		transform: scale(0.1);
	}

	9.8% {
		transform: scale(0.25);
	}

	9.9% {
		transform: scale(0.15);
	}

	10% {
		transform: scale(0.2);
	}

	19.7% {
		transform: scale(0.2);
	}

	19.8% {
		transform: scale(0.35);
	}

	19.9% {
		transform: scale(0.25);
	}

	20% {
		transform: scale(0.3);
	}

	29.7% {
		transform: scale(0.3);
	}

	29.8% {
		transform: scale(0.45);
	}

	29.9% {
		transform: scale(0.35);
	}

	30% {
		transform: scale(0.4);
	}

	39.7% {
		transform: scale(0.4);
	}

	39.8% {
		transform: scale(0.55);
	}

	39.9% {
		transform: scale(0.45);
	}

	40% {
		transform: scale(0.5);
	}

	49.7% {
		transform: scale(0.5);
	}

	49.8% {
		transform: scale(0.65);
	}

	49.9% {
		transform: scale(0.55);
	}

	50% {
		transform: scale(0.6);
	}

	59.7% {
		transform: scale(0.6);
	}

	59.8% {
		transform: scale(0.75);
	}

	59.9% {
		transform: scale(0.65);
	}

	60% {
		transform: scale(0.7);
	}

	69.7% {
		transform: scale(0.7);
	}

	69.8% {
		transform: scale(0.85);
	}

	69.9% {
		transform: scale(0.75);
	}

	70% {
		transform: scale(0.8);
	}

	79.7% {
		transform: scale(0.8);
	}

	79.8% {
		transform: scale(0.95);
	}

	79.9% {
		transform: scale(0.85);
	}

	80% {
		transform: scale(0.9);
	}

	89.7% {
		transform: scale(0.9);
	}

	89.8% {
		transform: scale(1.05);
	}

	89.9% {
		transform: scale(0.95);
	}

	90% {
		transform: scale(1);
	}

	99.7% {
		transform: scale(1);
	}

	99.8% {
		transform: scale(1.3);
	}

	99.9% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1.25);
	}
}

.manual {
	display: none;
}

.content-header div.progress {
	width: 0;
	height: 1.5em;
	margin: 0;
	background: $ruutsGreen;
}

.total-feed,
.total-light {
	font-size: 1rem;
}

.content-header.auto a {
	position: relative;
}

.progress-percentage {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-size: .75em;
}

.gamification-screen {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 2em;
	background: white;
	z-index: 1004;

	img {
		height: 2.5em;
		margin: 0 auto 1em;

		&.growers-badge {
			height: 7.5em;
		}
	}
}