.system-plantio {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  background: black;
  z-index: 1004;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .25s ease;

  &.active {
    opacity: .99;
    pointer-events: inherit;
  }

  .system-highlight {
    background: $ruutsBlack;
    width: calc(100% - .25em);
    height: .75em;
    position: relative;

    &:after {
      display: block;
      content: '';
      width: 25vw;
      height: 25vw;
      border-radius: 50%;
      border: .75em solid $ruutsGreen;
      //box-shadow: 0 0 .25em .125em rgba($ruutsGreen,0.75);
      background: black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 25%;
    width: 50%;
    height: auto;
  }
}

.info-panel {
  .system-lights,
  .system-nozzle {
    width: 50%;
    position: absolute;
    left: 25%;
    opacity: 0;
  }

  .system-lights {
    top: 50%;
    transition: top .5s ease;
    transition-delay: .25s;
  }

  .system-nozzle {
    bottom: 50%;
    transition: bottom .5s ease;
    transition-delay: .25s;
  }

  .system-reservoir {
    position: absolute;
    height: 0;
    width: 1.5em;
    border: .25em solid rgba($ruutsBlue,0);
    background: rgba($ruutsBlue, 0.75);
    border-top: 0;
    bottom: 25%;
    right: 2em;

    span {
      margin-top: -3.5em;
      display: block;
      text-align: center;
      width: 4em;
      margin-left: -1.5em;
    }
  }

  &.active {
    opacity: 1;

    .system-lights {
      top: 0;
    }

    .system-nozzle {
      bottom: 0;
    }

    .system-reservoir {
      height: 50%;
      opacity: 1;
      border-color: rgba($ruutsBlue, 1);
      transition: all .5s ease;
      transition-delay: .5s;
    }
  }
}