/**
 * Reset some basic elements
 */
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0; }

/**
 * Colours
 */
/**
 * Basic styling
 */
body {
  font: 300 16px/1.5 "Fanwood Text", serif;
  color: #3A4145;
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

section {
  border: 1px solid #3A4145;
  margin-bottom: 2em;
  padding: 2em; }

/**
 * Utilities
 */
.text-center {
  text-align: center; }

.shallow-list li ul li ul li {
  display: none; }

.shallow-list li {
  width: 50%; }

.tags span {
  font-weight: bold;
  background: #a8c924;
  padding: .25em .5em; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
.highlight,
blockquote,
dl,
figure,
h1,
h2,
h3,
h4,
hr,
ol,
p,
pre,
ul {
  margin-bottom: 1em; }

/**
 * Heading style
 */
.contents-title,
.site-title,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  line-height: 0.9;
  text-transform: uppercase;
  text-align: left; }

p,
ul {
  font-size: 16px; }
  p li,
  ul li {
    margin-bottom: .5em; }
  p.big,
  ul.big {
    font-size: calc(16px * 1.5);
    margin-bottom: .5em;
    line-height: 1.25; }

h5 {
  font-family: "Fanwood Text", serif;
  text-transform: none;
  font-size: 16px;
  line-height: 1.35;
  margin-bottom: 0;
  font-weight: 700; }

.contents-title,
h4,
p.intro {
  font-size: 16px;
  font-weight: 700;
  margin-top: 1.5em;
  margin-bottom: .5em; }

h3,
ul.h3 {
  font-family: "Rubik", sans-serif;
  line-height: 0.9;
  text-transform: uppercase;
  margin-bottom: .5rem;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5; }

h1.post-title,
h2 {
  font-size: 36px; }

h2 {
  border-bottom: 0.125em solid #a8c924;
  padding: 0 1rem 1rem;
  margin-bottom: 2rem;
  text-align: center; }
  h2.main {
    margin-top: 0; }

h1 {
  margin-top: 0;
  font-size: 24px;
  text-align: center; }

.page-title,
time {
  display: block;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 3em;
  text-align: center; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  margin-bottom: 1em; }

/**
 * Tables
 */
table {
  border-collapse: collapse;
  margin: 0 auto 2em;
  font-size: .9em;
  width: 100%;
  text-align: left;
  position: relative; }

table td,
table th {
  padding: .25em .5em;
  min-width: 10em; }

table th {
  background-color: white;
  border-bottom: 0.25em solid #a8c924; }

tbody tr:nth-child(odd) {
  background-color: #ebf5c4; }

.channels td.selected {
  background: #a8c924;
  color: #ffffff; }

.channels tbody tr:nth-child(1) {
  border-bottom: none; }

.channels tbody tr td:nth-child(1) {
  border-right: 0.25em solid #a8c924;
  font-weight: 700; }

/**
 * Figures
 */
figure {
  display: inline-block; }

figure > img {
  display: block;
  outline: 1px solid #3A4145; }

figcaption {
  font-size: 12px; }

figure.half {
  width: calc(50% - 1rem);
  margin-right: 1rem;
  margin-bottom: 1rem; }

figure.halflast {
  width: calc(50% - 1rem);
  margin-bottom: 1rem; }

/**
 * Lists
 */
ol,
ul {
  margin-left: calc(1em / 2); }
  @media screen and (min-width: 60em) {
    ol,
    ul {
      margin-left: 1em; } }

li > ol,
li > ul {
  margin-top: calc(1em / 4); }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer; }
  a:hover {
    text-decoration: underline; }

.button {
  display: inline-block;
  border: 0;
  background: #2a7ae2;
  color: #ffffff;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  line-height: 0.9;
  text-transform: uppercase;
  padding: 1em;
  margin: 0 0 1em;
  transition: background .2s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  min-width: 15em;
  text-align: center; }
  .button.disabled, .button:disabled, .button[disabled] {
    opacity: .25;
    cursor: not-allowed; }
    .button.disabled:hover, .button:disabled:hover, .button[disabled]:hover {
      background: #2a7ae2; }
  .button:hover {
    border: 0;
    background: #144b92;
    text-decoration: none; }

.active {
  background: #2a7ae2;
  border: 1px solid #2a7ae2; }
  .active a {
    color: #ffffff; }

.box {
  padding: 1rem;
  box-sizing: border-box; }

#categories {
  margin-bottom: 1em;
  text-align: center; }

.hidden {
  display: none !important;
  visibility: hidden !important; }

/**
 * Blockquotes
 */
blockquote {
  margin-bottom: 0; }
  blockquote p {
    color: #828282;
    padding: 0.5em;
    font-size: 20px;
    margin-bottom: 0;
    text-align: center; }
    blockquote p > :last-child {
      margin-bottom: 0; }

/**
 * Code formatting
 */
code,
pre {
  font-size: 12px; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  margin-right: auto;
  margin-left: auto;
  overflow: hidden; }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

.fas {
  font-size: 4em;
  margin: 1rem 0; }

/**
 * Flexbox utility classes
 */
.d--f {
  display: flex; }

.d--if {
  display: inline-flex; }

/* Flex direction */
.fd--r {
  flex-direction: row; }

/* Default */
.fd--rr {
  flex-direction: row-reverse; }

.fd--c {
  flex-direction: column; }

.fd--cr {
  flex-direction: column-reverse; }

/* Flex wrap */
.fw--n {
  flex-wrap: nowrap; }

/* Default */
.fw--w {
  flex-wrap: wrap; }

.fw--wr {
  flex-wrap: wrap-reverse; }

/* Justify content */
.jc--fe {
  justify-content: flex-end; }

.jc--fs {
  justify-content: flex-start; }

/* Default */
.jc--c {
  justify-content: center; }

.jc--sa {
  justify-content: space-around; }

.jc--sb {
  justify-content: space-between; }

/* Align items */
.ai--fs {
  align-items: flex-start; }

.ai--c {
  align-items: center; }

.ai--fe {
  align-items: flex-end; }

.ai--s {
  align-items: stretch; }

/* Default */
.ai--b {
  align-items: baseline; }

/* Flex grow */
.fg--0 {
  flex-grow: 0; }

/* Default */
.fg--1 {
  flex-grow: 1; }

/* Flex shrink */
.fs--0 {
  flex-shrink: 0; }

.fs--1 {
  flex-shrink: 1; }

/* Default */
/* Flex basis */
.fb--a {
  flex-basis: auto; }

/* Default */
.fb--0 {
  flex-basis: 0; }

/* Align self */
.as--a {
  align-self: auto; }

/* Default */
.as--fs {
  align-self: flex-start; }

.as--c {
  align-self: center; }

.as--fe {
  align-self: flex-end; }

.as--s {
  align-self: stretch; }

.as--b {
  align-self: baseline; }

.flex img {
  align-self: center; }

/* Text align */
.ta--l {
  text-align: left; }

.ta--c {
  text-align: center; }

.ta--r {
  text-align: right; }

/* Margin */
.p--1 {
  padding: 1em; }

.p--2 {
  padding: 2em; }

.m--1 {
  margin: 1em; }

.m---1 {
  margin: -1em -1em 1em; }

/**
 * Storyboard layout
 */
#storyboard img,
#storyboard p {
  padding: 1em; }

.quarter {
  width: 25%; }

/**
 * Printing and PDF generation
 **/
@media print {
  @page {
    margin: 10mm; }
  .page-break {
    page-break-before: always;
    break-before: page; }

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    orphans: 2;
    widows: 2; }

  h2.main {
    page-break-before: avoid;
    break-before: avoid-page; }

  h2,
  h3,
  h3,
  h4,
  h5 {
    page-break-after: avoid;
    break-after: avoid-page; }

  img,
  table {
    page-break-inside: avoid;
    break-inside: avoid; } }
/**
 * Persona
 **/
.persona {
  text-align: left;
  font-size: .75em; }

.persona ul {
  margin-bottom: 1rem; }

.persona img {
  background: #ffffff;
  width: 100%;
  height: auto;
  align-self: center; }

.persona blockquote,
.persona h1 {
  display: block;
  background: #a4cdc6;
  color: #ffffff;
  padding: 1rem;
  margin-bottom: 1rem; }

.persona blockquote {
  padding: 1em; }

.persona .content {
  display: flex;
  border: 1px solid #a4cdc6; }

.persona .content .sidebar {
  padding: 1em; }

.persona .content .sidebar img {
  align-self: center; }

.persona .content .end {
  padding: 1em; }

.persona .content .end .logo-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; }

.persona .content .end .logo-list img {
  width: calc(25% - (3em / 4));
  height: auto; }

.persona .content .main {
  border-left: 1px solid #a4cdc6;
  border-right: 1px solid #a4cdc6;
  padding: 1em;
  width: 50%; }

.persona .content .main .traits {
  display: flex;
  justify-content: space-between; }

.persona .content .main .traits .trait {
  display: block;
  width: calc(20% - (3em / 4));
  text-align: center; }

.persona .content .main .traits .trait p {
  background: #a4cdc6;
  color: #ffffff;
  padding: .5em; }

.persona .content .bar {
  display: block;
  width: 100%;
  background: #f6fafa;
  height: .5em;
  margin-bottom: .5rem; }

.persona .content .bar .bar-fill {
  display: block;
  background: #a4cdc6;
  height: .5em; }

.persona .content .bar .five {
  width: 5%; }

.persona .content .bar .ten {
  width: 10%; }

.persona .content .bar .fifteen {
  width: 15%; }

.persona .content .bar .twenty {
  width: 20%; }

.persona .content .bar .twenty-five {
  width: 25%; }

.persona .content .bar .thirty {
  width: 30%; }

.persona .content .bar .thirty-five {
  width: 35%; }

.persona .content .bar .forty {
  width: 40%; }

.persona .content .bar .forty-five {
  width: 45%; }

.persona .content .bar .fifty {
  width: 50%; }

.persona .content .bar .fifty-five {
  width: 55%; }

.persona .content .bar .sixty {
  width: 60%; }

.persona .content .bar .sixty-five {
  width: 65%; }

.persona .content .bar .seventy {
  width: 70%; }

.persona .content .bar .seventy-five {
  width: 75%; }

.persona .content .bar .eighty {
  width: 80%; }

.persona .content .bar .eighty-five {
  width: 85%; }

.persona .content .bar .ninety {
  width: 90%; }

.persona .content .bar .ninety-five {
  width: 95%; }

.persona .content label {
  font-size: .8em;
  display: inline-block;
  text-align: left;
  margin-bottom: 0; }

.persona .content label + label {
  float: right; }

img {
  align-self: center !important; }

#overview img {
  width: calc(50% - 6em);
  margin-left: 2em;
  height: auto; }

.half {
  width: 50%; }

#prototype iframe {
  margin-bottom: 1em; }

.prototype-img {
  width: calc(100% - 2em);
  margin: 0 2em 0 1em; }

span.mobile-only {
  display: none; }

span.desktop-only {
  display: inline; }

/* --- MOBILE --- */
@media screen and (max-width: 798px) {
  span.mobile-only {
    display: inline; }

  span.desktop-only {
    display: none; }

  .fd--r {
    flex-direction: column; }

  .half {
    width: 100%; }

  section {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0 0 2em;
    margin: 0 0 2em; }

  img {
    width: 100%;
    height: auto; }

  #overview img {
    width: 100%;
    margin-left: auto; }

  #storyboard img,
  #storyboard p {
    padding: 0; }

  .prototype-img {
    width: 100%;
    margin: auto; }

  .quarter {
    width: auto; }

  #prototype iframe {
    height: 90vh;
    margin-bottom: 1em; } }
/* --- Site Header --- */
.site-header {
  display: flex;
  justify-content: flex-start;
  background: rgba(0, 0, 0, 0.95);
  padding: .5em; }
  .site-header a {
    margin-right: 1em;
    line-height: 1;
    height: 1em; }
    .site-header a img {
      height: 1em;
      width: auto;
      line-height: 1;
      margin: 0; }
  .site-header .site-title {
    line-height: 1em;
    height: 1em;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.75);
    padding-top: 2px; }

/* --- Blog page --- */
#post-list {
  max-width: 40em;
  margin: 0 auto; }
  #post-list h2 {
    border-bottom: none; }
  #post-list li {
    margin-bottom: 2em;
    padding-bottom: 2em; }

/* --- Thoughts list --- */
#thought-list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box; }
  #thought-list article {
    box-sizing: border-box;
    padding: 1em;
    width: calc(50% - 5em);
    margin: 1em;
    color: #181818;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    @media only screen and (max-width: 798px) {
      #thought-list article {
        width: calc(100% - 2em);
        min-width: calc(100% - 2em); } }
    #thought-list article p a {
      color: #7cafc2; }
  #thought-list header {
    display: flex;
    align-items: center;
    margin-bottom: 1em; }
    #thought-list header h3 {
      line-height: 1;
      margin-bottom: 0; }
    #thought-list header time {
      font-family: monospace;
      font-size: .75em;
      margin-bottom: 0;
      background: #a8c924;
      color: #282828;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 3rem;
      width: 6rem;
      margin-right: 1rem; }
      @media only screen and (max-width: 798px) {
        #thought-list header time {
          min-width: 5rem; } }
      #thought-list header time .time {
        font-size: 1.5em; }
  #thought-list blockquote p {
    font-family: monospace;
    font-size: .75rem;
    margin: 1rem 0;
    padding: .5em;
    color: #d8d8d8;
    border: 1px solid #d8d8d8;
    text-align: left; }

/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid #dbdbdb;
  padding: 16px;
  position: relative;
  background-size: cover;
  background-blend-mode: soft-light; }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #dbdbdb;
  padding: 1em 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 0.5em; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -0.5em; }

.footer-col {
  float: left;
  margin-bottom: 0.5em;
  padding-left: 0.5em; }

.footer-col-1 {
  width: -webkit-calc(35% - (1em / 2));
  width: calc(35% - (1em / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (1em / 2));
  width: calc(20% - (1em / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (1em / 2));
  width: calc(45% - (1em / 2)); }

@media screen and (min-width: 60em) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (1em / 2));
    width: calc(50% - (1em / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (1em / 2));
    width: calc(100% - (1em / 2)); } }
.footer-col {
  float: none;
  width: -webkit-calc(100% - (1em / 2));
  width: calc(100% - (1em / 2)); }

/**
 * Page content
 */
.page-content {
  padding: 4em 0 1em; }

.page-heading {
  font-size: 16px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    display: block; }

.post-meta {
  font-size: 12px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px;
  margin-bottom: -1em; }

/**
 * Posts
 */
.post-header {
  padding: 1em; }

.post-content {
  padding: 5vw;
  margin-bottom: 1em; }

.comments {
  padding-top: 1em;
  margin-top: 1em; }

.PageNavigation {
  display: block;
  width: auto;
  overflow: hidden; }

.PageNavigation a {
  display: block;
  width: 50%;
  float: left; }

.PageNavigation .next {
  text-align: right; }

/**
         * Page content
         */
.page-content {
  padding: 2em 0 1em;
  background: #d8d8d8; }

.page-heading {
  font-size: 16px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    text-align: center;
    margin: 1em;
    padding: 1em;
    border-bottom: 1px solid #828282; }

.post-meta {
  font-size: 12px;
  color: #828282;
  margin-bottom: 1em;
  display: block; }

.post-link {
  display: block;
  margin-bottom: -1em; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: whitesmoke;
    background: -webkit-linear-gradient(left top, whitesmoke, #dbdbdb);
    background: linear-gradient(to right bottom, whitesmoke, #dbdbdb);
    background: #282828;
    color: #d8d8d8; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
