<header class="site-header">
  <span class="logo"><a href="/"><img src="{{ '/images/plantio__logo--colour.svg' | prepend: site.url }}" /></a> Journal</span>

  <nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" aria-label="Open main menu" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <li><a href="{{ site.url }}"><strong>Meet PlantIO</strong></a></li>
        <li><a href="{{ '/plant.html' | prepend: site.url }}">Using PlantIO</a></li>
        <li><a href="{{ '/journal' | prepend: site.url }}">Development Journal</a></li>
        <li><a href="https://github.com/phlillip/plantio-pwa">Github Repository</a></li>
        <li><a href="#">PlantIO for business</a></li>
        <li><a href="mailto:phillippenny@gmail.com">PlantIO Help</a></li>
      </ul>
    </div>
  </nav>
</header>